h1,
h2,
h3,
h4 {
  text-align: left;
  color: salmon;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

ul {
  list-style: none;
}

.form-label {
  margin: 0 auto;
}

.big-container {
  max-width: 800px;
  margin: 0 auto;
}

.container {
  border: solid salmon 3px;
  font-family: monospace;
  max-width: 800px;
  background-color: rgba(255, 194, 203, 0.664);
  border-radius: 15px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 10px 10px 6px 1px rgba(255, 151, 167, 0.466);
}

.containers {
  border: solid pink 2px;
  background-color: rgba(248, 227, 230, 0.856);
  text-align: center;
  border-radius: 5px;
  display: block;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  width: 780px;
}

.weather-now {
  font-size: 45px;
  text-align: left;
}

.line {
  font-size: 17px;
  position: relative;
  top: -15px;
  color: salmon;
}

.degrees {
  text-decoration: none;
  font-size: 17px;
  color: salmon;
}

.degrees:hover {
  color: white;
}

.weather-description {
  margin-top: -10px;
}

.location {
  font-size: 25px;
  font-weight: bold;
  text-align: right;
}

.date {
  font-size: 15px;
  text-align: right;
}

.col-1 {
  padding: 0;
}

.col-2 {
  border: solid salmon 1px;
  border-radius: 2px;
  padding: 0;
  max-width: 110px;
  display: block;
  margin: 0 auto;
  background-color: rgba(255, 194, 203, 0.664);
}

.col-4 {
  margin: auto;
}

.current-location-button {
  background-color: blue;
  border-radius: 7px;
  position: absolute;
  margin-left: 5px;
}

.search-button {
  background-color: red;
  border-radius: 7px;
}

.open-source {
  font-family: monospace;
  font-size: 12px;
  padding-top: 5px;
  margin-bottom: 0;
}

.open-source-links {
  text-decoration: none;
  color: salmon;
}

.open-source-links:hover {
  color: white;
}
